@tailwind base;
@tailwind components;
@tailwind utilities;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


// #bg {
//   background-image: linear-gradient(rgba(127, 209, 228, 0.354), rgba(77, 87, 189, 0.395)),
//     url(assets/bg.png);
// }
